@font-face {
  font-family: "Outfit";
  src: url("../fonts/OutfitRegular.woff2") format("woff2"),
    url("../fonts/OutfitRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/OutfitBold.woff2") format("woff2"),
    url("../fonts/OutfitBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
  --color-link: hsl(228, 45%, 44%);

  --font-family: "Outfit", sans-serif;
  --fs-body: 0.9375rem;    /* 15px */
  --fs-title: 1.375rem;    /* 22px */
  --fs-footer: 0.6875rem;  /* 11px */
  
  --card-width: 20rem;     /* 320px */
  --card-padding: 1rem;    /* 16px */
  --stack-spacing: 1rem;   /* 16px */
  --space-bottom-img: 1.5rem; /* 24px */
  --space-bottom-card: 2.5rem; /* 40px */
  --space-page-edge: 1.25rem; /* 20px */
  --radius-card: 1.25rem;  /* 20px */
  --radius-img: 0.625rem;  /* 10px */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-slate-300);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 1.4;
  text-align: center;
  color: var(--color-slate-500);
}

main {
  flex-grow: 1; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: var(--space-page-edge); 
}

.card {
  background-color: var(--color-white);
  padding: var(--card-padding);
  padding-block-end: var(--space-bottom-card); 
  max-width: var(--card-width);
  width: 100%;
  border-radius: var(--radius-card);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.card-img {
  display: block;
  border-radius: var(--radius-img);
  margin-block-end: var(--space-bottom-img); 
}

.card-bottom {
  padding-inline-start: var(--card-padding);
  padding-inline-end: var(--card-padding);
}

.card-title {
  margin: 0;
  margin-block-end:  var(--stack-spacing) ;
  font-weight: 700;
  font-size: var(--fs-title);
  line-height: 1.2;
  color: var(--color-slate-900);
}

.card-text {
  margin: 0;
}

.footer {
  padding: var(--space-page-edge) 0;
}

.attribution {
  font-size: var(--fs-footer);
  margin: 0;
}
.attribution-link {
  color: var(--color-link);
}
