.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/OutfitRegular.woff2") format("woff2"),
    url("../fonts/OutfitRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/OutfitBold.woff2") format("woff2"),
    url("../fonts/OutfitBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --font-family: "Outfit", sans-serif;
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-slate-300);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-slate-500);
}

.container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 16px;
  padding-bottom: 40px;
  max-width: 320px;
  width: 100%;
  min-height: 499px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.card-top {
  margin-bottom: 18px;
}

.card-bottom {
  padding-left: 16px;
  padding-right: 16px;
}

.card-img {
  border-radius: 10px;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: var(--color-slate-900);
}

.card-text {
  margin: 0px;
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
